header {
  background-color: #ffdacc;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  font-family: Serif, Georgia;
  color: #333;
  margin: 0;
  font-size: 2em;
  transform: scale(1, 1.8);
  margin-left: 10px;
}

.contact-icon img {
  height: 30px;
  width: 30px;
}

.contact {
  display: flex;
  justify-content: center;
  position: relative;
  left: 225px;
  top: 20px;
}

.contact-text {
  position: relative;
  font-size: 0.8em;
  transform: scale(1, 1.3);
}

.email {
  position: relative;
}

.linkedin {
  position: relative;
  top: 40px;
  left: -194px;
}

.github {
  position: relative;
  top: 85px;
  left: -420px;
}

.email-text {
  position: relative;
  top: 5px;
  left: 3px;
}

.linkedin-text {
  position: relative;
  top: 38px;
  left: -190px;
  white-space: nowrap;
}

.github-text {
  position: relative;
  top: 72px;
  left: -418px;
}

.resume-text {
  position: relative;
  top: -28px;
  left: -530px;
}

.link {
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Serif, Georgia;
  background-color: white;
  color: #333;
}

section {
  padding: 20px;
}

.image-container {
  padding: 45px 20px;
  display: flex;
  justify-content: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 50%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

#about {
  margin-top: 100px;
}

h3 {
  color: #333;
  margin-bottom: 5px;
}

p {
  line-height: 1.6;
}

li {
  line-height: 1.6;
}

ul {
  line-height: 1.6;
  padding-left: 0;
  margin-left: 20px;
}

a {
  color: #8FBC8F;
  text-decoration: none;
}

.change-color {
  color: #f08080;
}

.change-color:hover {
  color: #609f60; 
}

@media only screen and (min-width: 1500px) { 
  .contact {
    display: flex;
    justify-content: left;
    margin-left: -147px;
    top: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: left;
    margin-left: 57px;
  }
  
  #about {
    margin-top: -280px;
  }
}